@use '../variables' as *;
.containerAuth{
    display: grid;
    justify-content: center;
    padding: 20px 60px;
    width: 100%;
}

@media($tablet){
    .containerAuth{
        padding: 5px;
    }
}