@use '../variables' as *;
.container{
    display: grid;
    justify-content: center;
    padding: 20px 60px;
    width: 100%;
}

@media($tablet){
    .container{
        padding: 5px;
    }
}