.containerInput{
    display:flex ;
    flex-direction: column;

    .error{
        margin-top: 5px;
        font-size: .875rem;
        color: red;
    }
    label{
        display: block;
        color: black;
    }
    input{
        display: block;
        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        background-color: #eee;
        border-radius: 5px;
        box-shadow: 0px 2px 9px #ccc;
        &:focus{
            border: 2px solid #FBA724;
            outline: 1.5px solid #FF6600;
        }
    }
}