@use '../../variables' as *;
.container{
    max-width: 100%;
    width: 100%;
    display:  flex;
    flex-direction: column;
    padding-block: 40px ;
    justify-content: center;
    align-items: center;
    gap: 30px;   
}
.containerError{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    p{
        font-family: $primary-font;   
        font-size: 1.125rem;
        i{
            color: $red-color;
            font-size: 1.375rem;
             svg{
                animation: rotate4 4s linear infinite; 
             }
        }
    }
}
@media($tablet){
    .container{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        padding: 20px;
    }
}
@media($mobile){
    .container{
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 20px;
    }
}

@keyframes rotate4 {
    100% {
     transform: rotate(360deg);
    }
   }