@use '../../variables' as *;
.container{
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.emptyCart{
    width: 100%;
    display: flex;
    justify-content: center;
    p{
        padding: 20px;
         font-family: $primary-font;
         font-size: 1.375rem;
     }
}