@use '../../variables' as *;
.form{
    background-color: $white;
    border-radius: 10px;
    box-shadow: $box-shadow;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 20px;
    min-width: 80vw;
    width: 100%;
    padding: 20px 40px;
    font-family: $primary-font;
    .logo{
        width: 80px;
    }
}
@media($tablet){
    .form{
        padding: 20px ;
        
        h1{
            font-size:  2rem;
        }
    }
}
@media($mobile){
    .form{
        grid-template-columns: 1fr;
        min-width: 90vw;
        h1{
            font-size:  2rem;
        }
    }
}