@use '../../variables' as *;
.card{
    display: flex;
    padding: 20px;
    gap: 20px;
    width: 95%;
    background-color: $full-white;
    box-shadow: $box-shadow;
    border-radius: 10px;
  
    img{
        width: 50%;
    }
   .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2{
        font-family: $primary-font;
        font-weight: 400;
        color: $text-color;
    }
    p{
        font-family: $secondary-font;
        color: $text-color;
    }
    .buttonsContainer{
        display: flex;
        gap: 50px;
        
        .quantityContainer{
            display: flex;
            justify-content: space-between;
            gap: 30px;
            align-items: center;
            border: 2px solid $text-color;
            border-radius: 20px;
            box-shadow: $box-shadow;
            button{
                background: transparent;
                padding: 15px;
                border: none;
                svg{
                    fill: $text-color;
                }
            }
        }
        .addButton{
            background: $green-gradient;
            padding-inline: 30px;
            padding-block: 15px;
            color: $text-color;
            border: none;
            border-radius: 10px;
            font-size: 1.25rem;
            box-shadow: $box-shadow;
        }
    }
   }
}
@media($tablet){
    .card{
        .content{
            .buttonsContainer{
                gap: 30px;
                .quantityContainer{
                    gap: 10px;
                }
                .addButton{
                    font-size: 1rem;
                }
            }
        }
    }
}
@media($mobile){
    .card{
        flex-direction: column;
         .content{
            .buttonsContainer{
                flex-direction: column;
                gap: 30px;
                .quantityContainer{
                    gap: 10px;
                    font-size: 1.375rem;
                }
                .addButton{
                    font-size: 1.375rem;
                }
            }
        }
    }
}